@font-face {
    font-family: Montserrat;
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: gothamLight;
    src: url("../font/Gotham-Light.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;   
    font-family: Montserrat;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgba(30, 32, 44, .95);
}

a {
    text-decoration: none;
}

li {
    list-style: none; 
}

.hero {
    height: 100vh;
    position: relative;
    padding: 20px 80px;
    background-image: linear-gradient(to top, #141e30, #292924);
    overflow: hidden;
}

.hero > svg {
    width: 200px;
    height: 200px;
}

.side-blob {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(60%, 30%);
}
/* DESC  */

.desc {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
}

.desc h2:nth-child(1) {
    color: #fff;
    font-size: 52px;
}

.desc h2:nth-child(2) {
    color: #e8b544;
    font-size: 60px;
}

.desc p {
    color: rgb(199, 194, 194);
    font-family: 'CerebriSans-Regular', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}

.desc a {
    color: #e8b544;
    background-color: #292924;
    padding: 10px 20px;
    display: inline-block;
    width: 150px;
    margin-top: 30px;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;
}

.desc a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1px #e8b544,
                0 0 3px #e8b544,
                0 0 6px #e8b544,
                0 0 9px #e8b544;
}

/* EDITOR */

div.editor {
    width: 350px;
    height: 340px;
    padding: 10px 20px;
    background: #1d1e22;
    box-shadow: 0 4px 30px rgba(0,0,0,.5);
    border-radius: 6px;  
    position: absolute;
    top:20%;
    z-index: 2;
    left: 0;
}
    
div.editor header {
    height: 20px;  
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #fff;
}

div.editor p {
    color: #fff;
    margin: 14px 0;
    overflow: hidden;
    white-space: nowrap;
}
/*
div.editor p.txt-anim::after {
    content:'|';
    animation: blinkCursor 1s infinite;
}
*/

div.editor p.anim-1 {
    width: 0%;
    border-right: 1px solid #fff;
    animation: typeWritter 3s steps(60),
                blinkCursor 500ms 7; 
    animation-fill-mode: forwards;
}

div.editor p.anim-2 {
    width: 0%;
    border-right: transparent;
    animation: typeWritter 3s 4s steps(60),
                blinkCursor 500ms 4s 7; 
    animation-fill-mode: forwards;
}

div.editor p.anim-3 {
    width: 0%;
    border-right: transparent;
    animation: typeWritter 3s 8s steps(60),
                blinkCursor 500ms 8s 6; 
    animation-fill-mode: forwards;
}

div.editor p.anim-4 {
    width: 0%;
    border-right: transparent;
    animation: typeWritter 3s 11s steps(60),
                blinkCursor 500ms 11s 3; 
    animation-fill-mode: forwards;
}

@keyframes typeWritter {
    from {
        width: 0;
    }
    to {
        width: 90%;
        border-right: transparent;
    }
}

@keyframes blinkCursor {
    from {
        border-right: 1px solid #fff;
    }
    to {
        border-right: transparent;
    }
}


/* BLOB */

.sblob {
    position: absolute;
    left: 30px;
    top: 0;
    width: 300px;
    height: 300px;
}

svg .blob {
    transform: translate(150px, 170px) scale(2);
}

/* Header */

.hero > header {
    height: 50px;
    padding: 20px 0;
    position: relative;
    
}

header ul .marker {
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #fff;
    bottom: 0px;
    transition: 0.5s ease;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li a {
    color: #fff;
    margin-right: 50px;
}

header ul li a:hover {
    color: #bdafaf;
}

/* Wrapper */

.hero .wrapper {
    display: flex;
    align-items: center;
    height: calc(100% - 50px);
}

.hero .wrapper .left {
    flex: 60%;
    height:100%;
}

.hero .wrapper .right {
    flex: 40%;
    position: relative;
    height:100%;
}

/* SOCIALS */

.hero .socials {
    position: absolute;
    top:10%;
    transform: translateY(-50%);
    right: 2%;
    width: 50px;
    animation: moveSocial 4s;
    animation-fill-mode: forwards;
}

.socials ul {
    display: flex;
    flex-direction: column;
}

.socials ul li a {
    font-size: 0px;
    border-radius: 50%;
    margin: 10px 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #000;
    height: 0;
}

.socials ul li a:hover {
    box-shadow: 0 0 5px #e8b544,
                0 0 10px #e8b544,
                0 0 20px #e8b544,
                0 0 50px #e8b544;
}

#social-active {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 1px #e8b544,
                0 0 3px #e8b544,
                0 0 5px #e8b544,
                0 0 7px #e8b544;
    height: auto;
    font-size: 20px;
}

.socials:hover ul li a {
    opacity: 1;
    visibility: visible;
    height: auto;
    font-size: 20px;
}

@keyframes moveSocial {
    0%   {top: 10%;}
    50%  {top: 60%;}    
    100% {top: 50%;}
}


/*-----------------ABOUT----------------*/

.about {
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #141e30, #292924 60%);
    padding-top: 50px;
}

.about > h1 {
    color: #e8b544;
    text-align: center;
}

.about .wrapper-about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    margin-top: 20px;

}
.wrapper-about .left {
    width: 220px;
    height: 240px;
    perspective: 1000px;
}

.wrapper-about .right {
    width: 600px;
}

.wrapper-about .right p {
    margin-top: 10px;
}

.wrapper-about .left .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background-color: #000;
    transition: 0.5s;
}

.left .card .detail {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.left .card .detail h2 {
    color: #e8b544;
    margin: 10px 0;
}

.left .card .detail p {
    font-size: 10px;
}

.socials-img ul {
    display: flex;
    margin: 20px 0;
}

.socials-img ul li a {
    width: 50px;
    border-radius: 50%;
    margin: 10px 6px;
    transition: 0.5s;
    padding: 3px 6px;
    font-size: 10px;
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 1px #e8b544,
                0 0 3px #e8b544,
                0 0 5px #e8b544,
                0 0 7px #e8b544;
}

.act {
    transform: rotate(-10deg);
}

.act-img {
    transform: rotateY(-135deg);
}
.wrapper-about .left .card:hover {
    transform: rotate(-10deg);
}
.wrapper-about .left .card:hover img {
    transform: rotateY(-135deg);
}

.wrapper-about .left img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    /* filter: contrast(0) brightness(0); */
    filter: contrast(0.6) brightness(0.8);
    transition: filter 0.8s ease, transform 0.5s ease;
}

.wrapper-about .right {
    padding: 0 50px;
}

.wrapper-about .right h1 {
    color: rgb(199, 191, 191);
    line-height: 1.6;
}

.right .stroke {
    height: 1px;
    background-color: #e8b544;
    width: 0;
    position: relative;
    animation: strokeMove 5s forwards;
}

.right .stroke::after {
    content: '\f040';
    color: #fff;
    font-family: fontAwesome;
    position: absolute;
    right:0;
    transform: translateX(15px);
    color: #e8b544;
    font-size: 25px;
    top: -25px;
}

@keyframes strokeMove {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.wrapper-about .right p {
    color: rgb(199, 194, 194);
}

.btn-dummy  {
    color: #e8b544;
    background-color: #292924;
    padding: 10px 20px;
    display: inline-block;
    width: 150px;
    margin-top: 30px;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;
}

 .btn-dummy:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1px #e8b544,
                0 0 3px #e8b544,
                0 0 6px #e8b544,
                0 0 9px #e8b544;
}


/*--------------- PROJECT ------------------*/

.project {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #101520, #292924);   
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.project > h1 {
    text-align: center;
    color: #e8b544;
    position: relative;
    z-index: 1;
    width: 150px;
    font-size: 20px;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: #292924;
    padding: 5px 20px;
}

.face1 {
    position: absolute;
    width: 100%;
    height: 70%;
    background-image: url("../images/brick3.jpg");
    box-shadow: inset 0 -50px 200px #000,
                inset 0 50px 100px #292924;
    background-color: #292924;
    background-blend-mode: screen;
    opacity: 0.2;
}

.face2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70%;
    transform-origin: top;
    transform: rotateX(75deg);
    background-image: url("../images/brick3.jpg");
    box-shadow: inset 0 50px 200px #000,
                inset 0 -50px 200px #000;
    background-color: #292924;
    background-blend-mode: screen;
    opacity: 0.3;
}

.project .gallery {
    perspective: 1000px;
    margin-top: 70px;
    min-width: 250px;
    min-height: 180px;
}
.project .box {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    /* animation: rotateBox linear 30s infinite;   */
}

.project .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px); 

    /* transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px) scale(0.8); */
    
    
}

.project .box img {
    width: 100%;
    height: 100%;
    border-radius: 6px;  
    transition: all 0.5s ease;
    box-shadow: 0 4px 30px rgba(0,0,0,.5);
    opacity: 0.7;
    cursor: pointer;
}

.project .box img:hover {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes rotateBox {
    0% {
        transform:  rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.light-parent {
    width: 300px;
    height: 50px;
    top: 80px;
    position: absolute;
    filter: drop-shadow(0 0 10px #e8b544)
            drop-shadow(0 10px 60px #e8b544)
            drop-shadow(-10px 0 5px #e8b544)
            drop-shadow(10px 0 5px #e8b544);
    /*  animation: glowingLight 2s alternate infinite;  */
}
.light {
    background-color: #f8c351; 
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 35%, #d6a334);
    
}

@keyframes glowingLight {
    0% {
        filter: drop-shadow(0 0 10px #e8b544)
            drop-shadow(0 10px 60px #e8b544)
            drop-shadow(-10px 0 5px #e8b544)
            drop-shadow(10px 0 5px #e8b544);
    }
    100% {
        filter: drop-shadow(0 0 20px #e8b544)
            drop-shadow(0 10px 40px #e8b544)
            drop-shadow(-10px 0 10px #e8b544)
            drop-shadow(10px 0 10px #e8b544);
    }
}

.project-desc {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10%;
}

.project-desc::before {
    content:'';
    position: absolute;
    transform: translateY(-80px);
    filter: blur(200px);
    transform-origin: bottom;
    width: 600px;
    height: 280px;
    background-color: #000;
    clip-path: ellipse(50% 23% at 50% 50%);
}
.project-desc h2 {
    color:#e8b544
}
.project-desc p {
    color:#e8b544;
    opacity: 0.8;
    text-align: center;
    text-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;  
    margin-top: 10px;
    width: 50%;
} 

.leftArrow, .rightArrow {
    position: absolute;
    z-index: 4;
    font-size: 50px;
    color: #000;
    text-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;
    cursor: pointer;
}

.leftArrow {
    left: 50px;
    top: 40%;
    transform: translateY(-40%);
}

.rightArrow {
    right: 50px;
    top: 40%;
    transform: translateY(-40%);
}

.project-detail {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    top: 30%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.project-detail img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
    margin: 0 20px;
    filter: brightness(0.9)
}

.project-detail-desc {
    padding: 20px 20px;
    width: 300px;
    color: #e8b544;
    background-color: rgba(0, 0, 0, 0.2);
    height: 300px;
    border-radius: 10px;
}

.project-detail-desc h2 {
    text-align: center;
}

.project-detail-desc p {
    font-size: 14px;
    margin-top: 10px;
}

.btn-back  {
    color: #e8b544;
    cursor: pointer;
    background-color: #000;
    padding: 5px 20px;
    display: inline-block;
    width: 150px;
    position: absolute;
    border-radius: 20px;
    bottom: -50px;
    opacity: 0;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;
}

.btn-back:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1px #e8b544,
                0 0 3px #e8b544,
                0 0 6px #e8b544,
                0 0 9px #e8b544;
}

.btn-code {
    color: #e8b544;
    margin-top: 20px;
    cursor: pointer;
    background-color: none;
    padding: 5px 10px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px #e67e22,
                0 0 2px #e67e22,
                0 0 3px #e67e22,
                0 0 4px #e67e22;   
}

/* ---------------- SKILL ----------- */

.skill {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #141e30, rgba(14, 18, 27, 1));
}

.skill > h1 {
    color: #e8b544;
    text-align: center;
    margin-top: 50px;
    opacity: 0.8;
}

.skill .container {
    display: flex;
    margin-top: 50px;
}

.skill .container .left {
    flex: 50%;   
}

.skill .container .right {
    flex: 50%;   
}

.wheel {
    background-color: black;
    border: 3px dashed #d6a334;
    box-shadow: 0 4px 30px rgba(0,0,0,.5);
    overflow:hidden;
}

.word {
    fill: #fff;
    font-size: 70px;
    font-family: gothamLight, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
}

.word.highlight4 {
    opacity: 0;
}

.word.highlight3 {
    opacity: 0.2;   
}

.word.highlight2 {
    opacity: 0.5;   
}

.word.highlight1 {
    opacity: 1;   
}

.skillset {
    color: #fff;
    height: 340px;
}

.skillset .header {
    display: flex;
    justify-content: center;
}

.skillset span {
    border-radius: 50%;
    background-color: #000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;
}

.skillset i {
    color: #d6a334;
    font-size: 14px;
}

.s-container {
    display:flex;
    justify-content: center;
}

.s-container ul {
    margin: 20px;
    margin-top: 3px;
    background-color: #000;
    box-shadow: 2px 6px 30px rgba(0,0,0,.7);
}

.s-container ul li {
    border-left: 5px solid #d6a334;
    padding: 5px 5%;
    margin: 2px 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

.s-container ul li:hover {
    box-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;   
    transform: scale(1.1);
}

.skill-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.skill-down span {
    border-radius: 50%;
    background-color: #000;
    color: #d6a334;
    opacity: 0.8;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 1px #e8b544,
                0 0 2px #e8b544,
                0 0 3px #e8b544,
                0 0 4px #e8b544;   
    animation: up-down 1s alternate infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

/* ---------------- Contact ----------- */

.contact {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #141e30, #292924);
}

.contact .container {
    display: flex;
    margin-top: 30px;
    padding: 0 30px;
    justify-content: center;
}

.contact > h1 {
    color: #e8b544;
    text-align: center;
    margin-top: 50px;
    opacity: 0.8;
}

.contact .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

.contact .left h3 {
    color: #e8b544;

}

.contact .left p {
    color: #e8b544;
    opacity: 0.9;
    margin: 10px 0;
}
.contact .left .card {
    border-left: 5px solid #e8b544;
    opacity: 0.9;
    padding: 20px 20px;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.6),
                -3px -6px 30px rgba(0, 0, 0, 0.6);
}


footer {
    color: #d6a334;
    background-color: #292924;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}
footer h5 {
    letter-spacing: 5px;
}
footer p {
    opacity: 0.5;
    font-size: 12px;
}

@media only screen and (max-width: 1026px) {
    .hero .socials {
        display: none;
    }
}


.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #141e30;
}

.spinner {
	position: absolute;
	top: 50%; 
	left: 50%; 
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


